.download {
  padding-top: 28px;
  padding-bottom: 35px;

  background-color: #1d2631;
}

.download__title {
  @include visually-hidden;
}

.download__button {
  @include button;
  width: 281px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 32px;

  text-transform: none;

  border: 3px solid #ffffff;
  border-radius: 30px;
}

.download__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 205px;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.download__desc {
  width: 235px;
  margin: 0 auto;

  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
