.download {
  padding-top: 29px;
  padding-bottom: 29px;

  background-color: #1d2631;
}

@media (max-width: 659px) {
  .download__title {
    @include visually-hidden;
  }
}

.download__button {
  @include button;
  width: 281px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 32px;

  font-size: 18px;
  text-transform: none;

  border: 3px solid #ffffff;
  border-radius: 30px;
}

.download__button:hover {
  color: #d22856;

  background-color: #ffffff;
}

.download__button:active {
  color: rgba(210, 40, 86, 0.3);
}

.download__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 206px;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.download__desc {
  width: 235px;
  margin: 0 auto;

  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .download {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 618px;
    margin-left: 20px;
    padding: 0;
    padding-top: 93px;

    background: none;
  }

  .download__title {
    width: 190px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
  }

  .download__button {
    width: 300px;
    height: 55px;
    margin-bottom: 46px;
    padding-bottom: 3px;
  }

  .download__list {
    margin-bottom: 36px;
  }

  .download__desc {
    width: 295px;

    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    width: 300px;
    height: 743px;
    margin-left: 130px;
    padding-top: 108px;
  }

  .download__title {
    width: 231px;
    margin-bottom: 51px;

    font-size: 50px;
    line-height: 60px;
  }

  .download__button {
    height: 56px;
    margin-bottom: 67px;

    font-size: 21px;
  }

  .download__list {
    margin-bottom: 55px;
  }

  .download__desc {
    width: 295px;

    font-size: 18px;
  }
}
