.download {
  padding-top: 28px;
  padding-bottom: 35px;

  background-color: #1d2631;
}

@media (max-width: $mobile-width) {
  .download__title {
    @include visually-hidden;
  }
}

.download__button {
  @include button;
  width: 281px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 32px;

  text-transform: none;

  border: 3px solid #ffffff;
  border-radius: 30px;
}

.download__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 205px;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.download__desc {
  width: 235px;
  margin: 0 auto;

  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .download {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 619px;
    margin-left: 20px;
    padding: 0;
    padding-top: 95px;

    background: none;
  }

  .download__title {
    width: 190px;
    margin: 0 auto;
    margin-bottom: 35px;

    font-size: 40px;
    font-weight: 300;
    text-align: center;
  }

  .download__button {
    width: 300px;
    height: 55px;
    margin-bottom: 46px;
  }

  .download__list {
    margin-bottom: 41px;
  }

  .download__desc {
    width: 295px;

    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    width: 300px;
    height: 743px;
    margin-left: 130px;
    padding-top: 115px;
  }

  .download__title {
    width: 231px;
    margin-bottom: 60px;

    font-size: 50px;
  }

  .download__button {
    height: 56px;
    margin-bottom: 67px;

    font-size: 21px;
  }

  .download__list {
    margin-bottom: 60px;
  }

  .download__desc {
    width: 295px;

    font-size: 18px;
  }
}
