.map {
  position: relative;
  z-index: 1;

  width: 320px;
  margin: 0 auto;
}

.map__wrapper {
  position: absolute;
  z-index: 1;
  top: 0;

  display: flex;
  width: 320px;
  height: 219px;
}

@media (min-width: $tablet-width) {
  .map {
    width: 660px;
  }

  .map img {
    content: url("../img/map-tablet@1x.png");

    width: 660px;
    height: 428px;
  }

  .map__wrapper {
    width: 660px;
    height: 428px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 1200px;
    margin-top: 3px;
  }

  .map img {
    content: url("../img/map-desktop@1x.png");

    width: 1200px;
    height: 522px;
  }

  .map__wrapper {
    width: 1200px;
    height: 522px;
  }
}
