.page-photo {
  width: 320px;
  margin: 0 auto;
}

.page-photo__desc {
  box-sizing: border-box;
  width: 320px;
  height: 184px;
  padding: 55px 40px;

  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  color: #283645;
}

.page-photo__wrapper .card {
  margin: 0 auto;
  margin-top: 20px;
}
