.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  height: 284px;
  margin: 0 auto;
  padding: 40px 0;
}

.site-footer__item:last-child {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.site-footer__text {
  margin-right: 15px;

  font-size: 14px;
  color: #283645;
}

.site-footer__academy-icon {
  width: 27px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .site-footer {
    flex-direction: row;
    width: 660px;
    height: 127px;
    padding: 40px 20px;
  }
}

@media (min-width: $desktop-width) {
  .site-footer {
    flex-direction: row;
    width: 1200px;
    height: 197px;
    padding: 70px 130px;
  }

  .site-footer__logo {
    content: url("../img/logo-pink-blue-desktop.svg");
  }
}
