.site-header {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  color: #ffffff;

  background: #000000 url("../img/bg-back-mobile@1x.jpg") 0 259px no-repeat;
  background-size: 320px 462px;

  &--closed {
    background-position: 0 0;
  }
}

.site-header--main-page {
  overflow: hidden;
}

.site-header__image {
  box-sizing: border-box;
  width: 258px;
  height: 286px;
  margin-top: 109px;
  margin-bottom: -4px;
}

.site-header__title {
  box-sizing: border-box;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  padding-top: 29px;

  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
}

.site-header__title--form {
  width: 230px;
}

@media (min-width: $tablet-width) {
  .site-header {
    position: relative;

    width: 660px;

    background: #000000 url("../img/bg-back-tablet@1x.jpg") -270px 255px no-repeat;
    background-size: 1200px 729px;

    &--closed {
      background-position: -270px 0;
    }
  }

  .site-header__title {
    width: 500px;
    height: 329px;
    padding-top: 69px;

    font-size: 50px;
    line-height: 60px;
  }

  .site-header__image {
    position: absolute;
    z-index: 0;
    content: url("../img/iphone-hand-tablet@1x.png");

    width: 700px;
    height: 545px;
    margin-top: 73px;
    right: -20px;
  }
}

@media (min-width: $desktop-width) {
  .site-header {
    width: 1200px;

    background: #000000 url("../img/bg-back-desktop@1x.jpg") -680px 0 no-repeat;
    background-size: 2560px 853px;
  }

  .site-header__title {
    width: 360px;
    height: 284px;
    padding-top: 74px;
  }

  .site-header__title--form {
    width: 800px;
  }

  .site-header__image {
    content: url("../img/iphone-hand-desktop@1x.png");

    width: 1050px;
    height: 645px;
    margin-top: 99px;
    right: 4px;
  }
}
