.social {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 178px;
  height: 45px;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 30px;
}

.social__icon:hover {
  border: 3px solid rgba(40, 54, 69, 1);
}

.social__icon:active {
  border: 3px solid rgba(40, 54, 69, 0.1);
}

.social__icon:active::after {
  opacity: 0.3;
}

.social__icon--twitter::after {
  content: url("../img/icon-twitter.svg");

  width: 18px;
  height: 14px;
}

.social__icon--facebook::after {
  content: url("../img/icon-facebook.svg");

  width: 9px;
  height: 18px;
}

.social__icon--youtube::after {
  content: url("../img/icon-youtube.svg");

  width: 15px;
  height: 13px;
}

@media (min-width: $tablet-width) {
  .social {
    width: 180px;
    margin-right: 19px;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-right: -6px;
  }
}
