.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56px;
  height: 12px;
  margin: 0 auto;
  padding: 0;
}

.switch__item {
  width: 6px;
  height: 6px;

  list-style: none;

  border-radius: 50%;
  background-color: #283645;
  opacity: 0.3;
}

.switch__item--active {
  background-color: #ffffff;
  border: 3px solid #283645;
  opacity: 1;
}

.switch__item:not(.switch__item--active):hover {
  opacity: 0.6;
  cursor: pointer;
}

.switch__item:not(.switch__item--active):active {
  opacity: 0.1;
}
