section.advantages
  h2.advantages__title
    span.advantages__text Устали от серости мегаполиса?
    span.advantages__text Нам есть, что вам<br> предложить!
  ul.advantages__list
    li.advantages__item
      h3.advantages__subtitle Поднимает настроение
      p.advantages__desc Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
      img.advantages__image(src="img/iphone-screen-mobile@1x.png" alt="phone image" width="157"
        height="320")
    li.advantages__item
      h3.advantages__subtitle Меняет мир вокруг
      p.advantages__desc Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
      img.advantages__image(src="img/iphone-screen-mobile@1x.png" alt="phone image" width="157"
        height="320")
    li.advantages__item
      h3.advantages__subtitle
        | Заводит
        br
        |  новых друзей
      p.advantages__desc Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
      img.advantages__image(src="img/iphone-screen-mobile@1x.png" alt="phone image" width="157"
        height="320")
