fieldset.check.form__check
  legend.check__title ваши безбашенные достижения в путешествии
  .check__inner
    label.check__item(for="value1")
      input(type="checkbox" id="value1" name="achievement" value="selfie" checked)
      span.check__action
      span.check__desc Сделал селфи с акулой
    label.check__item(for="value2")
      input(type="checkbox" id="value2" name="achievement" value="burn" checked)
      span.check__action
      span.check__desc Обгорел на пляже
    label.check__item(for="value3")
      input(type="checkbox" id="value3" name="achievement" value="saw")
      span.check__action
      span.check__desc Видел Чака Норриса
    label.check__item(for="value4")
      input(type="checkbox" id="value4" name="achievement" value="bought")
      span.check__action
      span.check__desc Накупил сувениров
    label.check__item(for="value5")
      input(type="checkbox" id="value5" name="achievement" value="hold" checked)
      span.check__action
      span.check__desc Удержал башню
    label.check__item(for="value6")
      input(type="checkbox" id="value6" name="achievement" value="destroy")
      span.check__action
      span.check__desc Разгромил отель
