fieldset.contact-info.form__contact-info
  legend.contact-info__title контактная информация
  .contact-info__inner
    label.contact-info__item.contact-info__item--phone(for="phone")
      span.contact-info__desc номер телефона
      input(type="number" id="phone" name="phone" placeholder="Номер, пожалуйста")
    label.contact-info__item.contact-info__item--email(for="email")
      span.contact-info__desc адрес почты
      input(type="email" id="email" name="email" placeholder="Введите почту *")
