mixin contacts
  section.contacts
    h2.contacts__title
      span Остались вопросы?
      span Свяжитесь с нами!
    .contacts__inner
      .contacts__item
        h3.contacts__subtitle Звоните:
        p.contacts__desc +7 (812) 555-66-66
      .contacts__item
        h3.contacts__subtitle Пишите:
        a.contacts__desc.contacts__desc--mail(href="#") mail@htmlacademy.ru
      .contacts__item
        h3.contacts__subtitle Приезжайте в гости:
        p.contacts__desc ул. Большая Конюшенная, 19/8
