section.download
  h1.download__title Взгляните на жизнь иначе!
  a.download__button(href="#") Скачать приложение
  div.download__list
    a.download__icon(href="#")
      img(src="img/logo-apple.svg" alt="apple logo" width="47" height="56")
    a.download__icon(href="#")
      img(src="img/logo-android.svg" alt="android logo" width="43" height="47")
    a.download__icon(href="#")
      img(src="img/logo-microsoft.svg" alt="microsoft logo" width="44" height="41")
  p.download__desc Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
