mixin effect
  article.effect
    img(src="img/timer-tablet@1x.png" alt="timer 24h" width="238" height="276")
    h1.effect__title
      | Эффект 
      br
      | на 24 часа!
    p.effect__desc
      | Британские ученые провели исследования и доказали,
      br
      |  что положительный эффект<br> от использования приложения длится целые сутки!
    a.effect__link(href="#") Узнать больше об исследовании
