mixin footer()
  footer.site-footer(class!=attributes.class)
    img.site-footer__item.site-footer__logo(src="img/logo-pink-blue-mobile.svg" alt="footer logo" width="147" height="40")
    .social.site-footer__item
      a.social__icon.social__icon--twitter(href="https://twitter.com")
      a.social__icon.social__icon--facebook(href="https://facebook.com")
      a.social__icon.social__icon--youtube(href="https://youtube.com")
    a.site-footer__item(href="https://htmlacademy.ru")
      span.site-footer__text Разработано
      img.site-footer__academy-icon(src="img/logo-htmlacademy.svg" alt="htmlacademy" width="27" height="34")
