fieldset.full-name.form__full-name
  legend.visually-hidden Ваше ФИО
  label.full-name__item.full-name__item--last-name(for="last-name")
    span.full-name__desc фамилия:
    input(type="text" id="last-name" name="last-name" placeholder="Укажите фамилию *")
  label.full-name__item.full-name__item--name(for="name")
    span.full-name__desc имя:
    input(type="text" id="name" name="name" placeholder="Введите ваше имя *")
  label.full-name__item.full-name__item--patronymic(for="patronymic")
    span.full-name__desc отчество:
    input(type="text" id="patronymic" name="patronymic" placeholder="Ну и отчество тоже")
