mixin header()
  header.site-header(class!=attributes.class)
    nav.site-nav
      h2.visually-hidden Навигация сайта
      div.site-nav__logo
        img.site-nav__logo-image(src="img/logo-pink-white-mobile.svg" alt="logo" width="75" height="22")
      div.site-nav__list
        a.site-nav__item(href="index.html") Главная
        a.site-nav__item(href="photo.html") Фотографии
        a.site-nav__item(href="form.html") Конкурс
        a.site-nav__item(href="https://htmlacademy.ru/intensive/adaptive") HTML Academy
      img.site-header__image(src="img/iphone-hand-mobile@1x.png" alt="hand with phone" width="258" height="286")
    section.download
      h1.download__title Взгляните на жизнь иначе!
      a.download__button(href="#") Скачать приложение
      div.download__list
        img.download__icon(src="img/logo-apple.svg" alt="apple logo" width="47" height="56")
        img.download__icon(src="img/logo-android.svg" alt="android logo" width="43" height="47")
        img.download__icon(src="img/logo-microsoft.svg" alt="microsoft logo" width="44" height="41")
      p.download__desc Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
