mixin map
  section.map
    h2.visually-hidden Наше местоположение
    img(src="img/map-mobile@1x.png" alt="Мы на карте" width="320" height="219")
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6640343452805!2d30.32031154545794!3d59.93771683713656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2sBolshaya%20Konyushennaya%20St%2C%2019%2F8%2C%20Sankt-Peterburg%2C%20191186!5e0!3m2!1sen!2sru!4v1578058069505!5m2!1sen!2sru" width="320" height="219" frameborder="0" style="border:0;" allowfullscreen="").map__wrapper
