fieldset.radio.form__radio
  legend.radio__title с каким приложением путешествовали?
  label.radio__item(for="iOS")
    input(type="radio" id="iOS" name="app" value="iOS" checked)
    span.radio__action
    span.radio__desc Pink для iOS
  label.radio__item(for="Android")
    input(type="radio" id="Android" name="app" value="Android")
    span.radio__action
    span.radio__desc Pink для Android
  label.radio__item(for="WinPhone")
    input(type="radio" id="WinPhone" name="app" value="WinPhone")
    span.radio__action
    span.radio__desc Windows Phone
